/* ------------------------------------------------------------------------------
   Estilos para los Campos de Entrada Personalizados
------------------------------------------------------------------------------ */
.topic-custom-field-input {
  max-width: 100%;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
}

.topic-custom-field-input.small {
  width: 150px;
}

.topic-custom-field-input.large {
  width: 475px;
}

.topic-custom-field-input.full {
  width: 100%;
}

/* ------------------------------------------------------------------------------
   Estilos para el Contenedor de Campos Personalizados
------------------------------------------------------------------------------ */
.custom-fields-container {
  background-color: #2b393a;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  color: #f8f6fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* ------------------------------------------------------------------------------
   Estilos para el Precio en el Contenedor de Campos Personalizados
------------------------------------------------------------------------------ */
.custom-fields-container .price {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 0.5em;
  color: #f8f6fa;
}

/* ------------------------------------------------------------------------------
   Estilos para las URL o Handles en el Contenedor de Campos Personalizados
------------------------------------------------------------------------------ */
.custom-fields-container .urlOrHandle {
  font-size: 15px;
  font-weight: 800;
  color: #f8f6fa;
}

.custom-fields-container .urlOrHandle a {
  color: #007bff;
  font-weight: normal;
  text-decoration: none;
}

.custom-fields-container .urlOrHandle a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------------------------------
   Estilos para los Mensajes de Error en el Contenedor de Campos Personalizados
------------------------------------------------------------------------------ */
.custom-fields-container .urlOrHandle .error {
  color: #da474d;
}

/* ------------------------------------------------------------------------------
   Ajustes para Dispositivos Móviles (Responsive)
------------------------------------------------------------------------------ */
@media (max-width: 768px) {
  .topic-custom-field-input {
    padding: 8px;
    font-size: 13px;
  }

  .custom-fields-container {
    padding: 10px;
  }

  .custom-fields-container .price {
    font-size: 14px;
  }
}
