<div {{did-insert this.checkComposerType}}>
  {{#unless this.isHidden}}
    <TopicCustomFieldPriceInput
      @fieldName={{this.fieldName}}
      @fieldValue={{this.fieldValue}}
      @onChangeField={{this.onChangeField}}
      class="topic-custom-field-input full"
      required="required"
    />
  {{/unless}}
</div>